@font-face {
    font-family: 'font';
    src: url('Rene Bieder - RBNo2.1a-Bold.otf')
}

@font-face {
    font-family: 'medium';
    src: url('Rene Bieder - RBNo2.1a-Medium.otf')
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000;
}

p {
    margin: 0 0 0 0 !important;
}

#logo {
    margin-top: 30%;
    margin-bottom: 10%;
}

#mail {
    margin-top: 80px;
    margin-bottom: 80px;
}

#first {
    font-family: 'font';
    letter-spacing: 4px;
    color:  #ffffff;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 26px;/* Approximation due to font substitution */
}

#second {
    font-family: 'medium';
    letter-spacing: 4px;
    color:  #ffffff;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 500;
    line-height: 26px;/* Approximation due to font substitution */
}

#mail p {
    font-family: 'medium';
    letter-spacing: 2px;
    color:  #b5b5b5;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 500;
    line-height: 17px;/* Approximation due to font substitution */
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

#facebook {
    width: 10px;
    height: 20px;
}

#behance {
    width: 24px;
    height: 15px;
}

#icons {
    margin-top: 10%;
}

#icons img {
    margin: 0 auto;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    #logo {
        margin-top: 15%;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    #logo {
        margin-top: 15%;
    }
}

@media (min-width: 1200px) {
    #logo {
        margin-bottom: 80px;
    }
    #logo img {
        width: 100px;
        height: 80px;
    }
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

div#parent:hover div {
    opacity: 0.1;
}

div#parent:hover div:hover {
    opacity: 1.0;
}

