@font-face {
    font-family: 'font';
    src: url('Rene Bieder - RBNo2.1a-Bold.otf')
}

@font-face {
    font-family: 'medium';
    src: url('Rene Bieder - RBNo2.1a-Medium.otf')
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#all {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#first {
    margin-top: 80px;
    font-family: 'font';
    letter-spacing: 3px;
    color:  #ffffff;
    font-size: 25px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 26px;/* Approximation due to font substitution */
    text-align: center;
}

#second {
    font-family: 'medium';
    letter-spacing: 10px;
    color:  #ffffff;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 500;
    line-height: 26px;/* Approximation due to font substitution */
    text-align: center;
}

#rest p {
    font-family: 'medium';
    letter-spacing: 2px;
    color:  #b5b5b5;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 500;
    line-height: 17px;/* Approximation due to font substitution */
    text-align: center;
}

#text div {
    margin-bottom: 170px;
}

img.element {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 7.6%;
}

p.element {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#icons {
    display: block;
    margin: 0 auto;
}

#icons img {
    margin-right: 44px;
}

#icons img:first-of-type {
    margin-left: 44px;
}